/*font stuff*/
body {
    margin: 0;
    font-family: "Playfair Display", serif;
}

/*header*/
header {
    background-color: #f6f8dd;
    padding: 1rem 10px;
}

header span {
    color: #461b1b;
    font-size: 1.6rem;
    font-weight: 700;
}

/*   navigation   */
nav {
    background-color: #b68c43;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    color: #f6f8dd;
    font-weight: 600;
}

nav li.active a {
    background-color: #f6f8dd;
    color: #461b1b;
}

nav li a:hover {
    color: #b9121b;
}
/*   main   */
main {
    padding: 1rem 10px;
}

main h1 {
    color:#b68c43;
}

main h2 {
    color: #461b1b;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: 0.5rem 30px;
    background-color: #f6f8dd;
}

main dl dt {
    color: #461b1b;
    font-weight: 500;
    margin: 1rem;
}

main dl dd {
    color: #b9121b;
    font-size:.9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .6rem;
    font-size: .8;
}

main strong {
    font-weight: 800;
    color: black;
}

main em {
    font-weight: 400;
    color: #461b1b;
}

main address {
    font-style: normal;
    background-color: #eaeaea;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #b68c43
}

main a {
    color: #461b1b;
}

main a:hover {
    color: #b9121b;
}

/*   footer   */
footer {
    background-color: #f6e497;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .7rem;
    color: #333;
    letter-spacing: 2px;
}